ngb-datepicker-navigation-select > .custom-select {
  flex: 1 1 auto;
  padding: 5px;
  font-size: 12px;
  height: 30px;
  color: #333;
  background: #ffffff;
  border-color: #ccc;
  text-align: center;
}
